.navbar-toggler{
    padding: 1vw!important;
    background-color: black!important;
    border-radius: 50%!important;
}
nav{
    position: fixed!important;
    right: 0!important;
    background: transparent !important;
}
.fa-linkedin{
color: white;
border: 1px solid #040b14;
background-color: rgba(255, 255, 255, 0.124);
border-radius: 50%;
padding: 1vw;
}
.bg-dark{
    background-color: #040b14!important;
}
.menu-all ul{
    list-style: none;
    color: #a8a9b4;
}
.menu-all a{
    color: #a8a9b4;
    text-decoration: none;
}
.main-content{
position: absolute;
top: 1vw;
left: 25%;
}
#navbarToggleExternalContent>div{
    height: 100vh;
}
#navbarToggleExternalContent{
    overflow-y: scroll;
    position: fixed;
}
.fa-chevron-right,.fa-circle{
    color: rgb(75, 167, 220)
}
.resume-details{
    border-left: 2px solid rgb(75, 167, 220);
    position: relative;
    padding-left: 2vw;
}
.fa-circle{
    position: absolute;
    left: -10px;
    font-size: 18px;
    background-color: white;
}
.project-details{
    height: 200px;
    background-color: darkgray;
    scale: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}