*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    cursor: pointer;
}
.navbar-toggler{
    padding: 1vw!important;
    background-color: black!important;
    border-radius: 50%!important;
    z-index: 100;
}
nav{
    position: fixed!important;
    right: 0!important;
    background: transparent !important;
    z-index: 100;
    right: 2vw !important;
    top: 1vw;
    cursor: pointer;
}
.fa-linkedin{
color: white;
border: 1px solid #040b14;
background-color: rgba(255, 255, 255, 0.124);
border-radius: 50%;
padding: 1vw;
}
.bg-dark{
    background-color: #040b14!important;
}
.main-content #about{
    font-size: 16px;
}
.main-content #about ul{
    padding: 0!important;
}
.menu-all{
    padding: 1rem!important;
}
.menu-all li{
    list-style: none!important;
    color: #a8a9b4;
    padding: 2vw 0;
}
.menu-all a{
    color: #a8a9b4;
    text-decoration: none;
}
.main-content{
position: absolute;
top: 1vw;
}
#navbarToggleExternalContent>div{
    height: 100vh;
}
#navbarToggleExternalContent{
    overflow-y: scroll;
    position: fixed;
}
.fa-chevron-right,.fa-circle{
    color: rgb(75, 167, 220)
}
.resume-details{
    border-left: 2px solid rgb(75, 167, 220);
    position: relative;
    padding-left: 2vw;
}
.fa-circle{
    position: absolute;
    left: -10px;
    font-size: 18px;
    background-color: white;
}
.project-details{
    /* cursor: pointer; */
    height: 200px;
    background-color: rgb(75, 167, 220);
    color: white;
    scale: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
    /* transition: color .1s, background-color .1s; */
}
/* .project-details:hover, .project-details:hover a{
    background-color: white;
color: rgb(75, 167, 220);
} */
.project-details-white{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: rgb(75, 167, 220);
    /* transition: color .1s, background-color .1s; */
}
/* .project-details-white:hover, .project-details-white:hover a{
    background-color: rgb(75, 167, 220);
    color: white;
} */
.project-details a{
    color: white;
    font-size: 20px;
}

.project-details-white a{
    color: rgb(75, 167, 220);
}
.full-width {
  width: 95% !important;
  /* left: 0; */
  margin: auto!important;
  position: relative;
}
.half-width{
    position: absolute;
    width: 65%!important;
    right: 0;
}
.offcanvas-backdrop.show {
    opacity: 0;
}
.offcanvas{
    width: 50%!important;
}
.backend-projects span{
    display: inline-block;
    color: #494a4b;
    padding: 1vw;
    text-align: center;
}
#skills li{
    list-style: none;
}
.Certification{
    color: #494a4b;
    font-weight: 700;
}
@media screen and (max-width: 600px) {
    .half-width{
          width: 95% !important;
  position: relative;
    }
    .resume-details{
        padding-left: 4vw;
    }
}